@media (max-width: 768px) {

  .sidebar {
    display: none;
  }

  main {
    width: 100%;
  }

  .doc-card {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 20px;
  }

  .btn-success {
    padding: 6px 10px;
    font-size: 14px;
  }
}