 /* variables */
 :root {
    --primary-color: #20B486;
    --text-color: #333;
    --hover-color: #64edc2;
}

/* body background */

body {
    background-image: linear-gradient(to bottom, var(--primary-color) , #fff , #e2e2e2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
} 



/* The upper text */

.welcome {
    margin-top: 20px;
    margin-bottom: 50px;  
}
.welcome h2 , .welcome p {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.welcome h2 {
    font-size: 32px;
    font-weight: bold;
}



/* The form box  */
#form-box {
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    justify-content: center;
    box-shadow: #b6b7b6 0px 0px 10px;
}


/* Login with text */
#form-box h4 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}
.app-logo{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}


.app-logo img {
    width: 50px;
    height: 50px;
}




/* Social buttons  */
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-buttons a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    font-size: 18px;
    border: #c4c4c4 solid 1px;
}
.social-buttons a:hover {
    background-color: var(--hover-color);
    color: white;
    border: none;
}


/* Or text */
.text-or {
    text-align: center;
    color: #999;
    margin: 20px 0;
}


/* Email and password  */
.email-field , .password-field , .name-field {
    margin-bottom: 20px;
}
.email-input , .password-input , .name-input {
    width: 100%;
    padding: 10px;
    border: #c4c4c4 solid 1px;
    border-radius: 15px;

}
.email-input:focus , .password-input:focus , .name-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(117, 219, 187, 0.5);
}



/* Remember me switch */
.custom-toggle-container {
  display: flex;
  align-items: center;
  gap: 12px; }


.switch {
  position: relative;
  display: inline-block;
  width: 44px; 
  height: 22px; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cbd5e0; 
  transition: .4s;
  border-radius: 34px;
}


.slider:before {
  position: absolute;
  content: "";
  height: 18px; 
  width: 18px;  
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

input:checked + .slider {
  background-color: #38b2ac;
}

input:checked + .slider:before {
  transform: translateX(22px); 
}

.label-text {
  color: #2d3748;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/* Login button */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}
.login-button:hover {
    background-color: var(--hover-color);
}

/* Sign up link */
.create.account-text {
    text-align: center;
    margin-top: 20px;
    color: #666;
}
.signup-link , .signin-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}
.signup-link:hover , .signin-link:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    text-align: center;
    margin: 20px;
}
span {
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
}